/*============================
					Base Styles
==============================*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	color:  #306491;
  font-size: 16px;
}

h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

h2{
	font-size: 1.8em;
	font-weight: 600;
}
h3{
	font-weight: 300;
}
.heading{
	text-align: center;
}
.info-text{
	color: #D3D3D3;
	font-size: 1.1em;
	font-weight: 400;
	margin-right: 20%;
	margin-left: 21%;
	margin-top: -3%;
	line-height: 1.5;
	text-align: center;
}
hr{
	width: 95%;
	height: 5px;
	background-color: #306491;
}
label{
	font-size: 1.3em;
}
input{
	border: none;
	border-radius: 5px;
	background-color: rgba(243, 236, 236, 0.7); 
}
/*Placeholder text for first two input feilds in the contact form*/
::-webkit-input-placeholder {
   color: #B43E3C;
}

:-moz-placeholder { /* Firefox 18- */
   color: #B43E3C;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B43E3C;  
}

:-ms-input-placeholder {  
   color: #B43E3C;  
}
select{
	border: none;
}
input[name="zip"]{
	width: 25%;
	margin-bottom: 5%;
}
textarea{
	width: 95%;
	height: 100px;
	margin-left: 2%;
	border: none;
	border-radius: 5px;
	background-color: rgba(243, 236, 236, 0.7); 
}
button{
	width: 50%;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #306491;
	color: white;
	text-align: center;
	margin-left: 26%;
	margin-top: 2%;
}

footer{
	text-align: center;
}

/*============================
					Media Queries
==============================*/	
@media(min-width: 320px) and (max-width: 767px){
	header{
		background-color: #306491;
		padding:10px;
	}

	h1{
		font-size: 2em;
	}
	.form-label{
		width: 50%;
		display: block;
		margin-left: 2%;
		margin-top: 4%;
		margin-bottom: 1%;
		font-weight: 200;
	}
	input{
		width: 95%;
		padding: 16px;
		margin-left: 2%;
	}
	select{
		width: 25%;
		margin-left: 2%;
	}
	input[name="zip"],
	select[name="state"]{
		margin-right: 30%;
	}
	
	.block label{
		display: inline-block;
	}
/*============================
			News Letter Section
==============================*/
	.newsletter-section{
		width: 95%;
		margin: 0 auto;
		border: 1px solid red;
	}
	.newsletter-boxs{
		width: 50%;
		margin: 0 auto;
		border: 1px solid black;

	}
	.newsletter-text{
		border: 1px solid black;
	}



	
}
@media(min-width: 768px){
	header{
		background-color: #306491;
		padding: 1px;
	}
	.info-text{
		margin-right: 19%;
		margin-left: 15%;
	}
	.main-container{
		width: 768px;
		margin: 0 auto;
	}
	h1{
		font-size: 3em;
	}
	/*contact info container*/
	.contact-info{
		width: 95%;
		margin: 0 auto;
	}
	.block{
		text-align: center;
		margin-top: 25px;
	}
	.alignment{
		text-align: left;
		margin-left: 35px
	}
	.block label{
		display: inline-block;
		width: 20%;
		text-align: left;
		
	}
	.contact-input{
		width: 70%;
		padding: 15px;

	}

/*============================
			News Letter Section
==============================*/
	.newsletter-boxs{
		margin-top: 8px;
	}
	.newsletter-text{
		font-size: .9em;
	}
	.newsletter-section{
  	width: 95%;
  	margin: 0 auto;
	}
	h3{
		font-size: 1.2em;
		margin-bottom: -2px;
	}
	h4{
		width: 95%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}