/*============================
					Base Styles
==============================*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	color:  #306491;
  font-size: 16px;
}

h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

h2{
	font-size: 1.8em;
	font-weight: 600;
}
.heading{
	text-align: center;
}
.info-text{
	color: #D3D3D3;
	font-size: 1.3em;
	font-weight: 400;
	margin-right: 20%;
	margin-left: 21%;
	margin-top: -3%;
	line-height: 1.5;
	text-align: center;
}
hr{
	width: 95%;
	height: 5px;
	background-color: #306491;
}
label{
	font-size: 1.3em;
}
input{
	border: none;
	border-radius: 5px;
	background-color: rgba(243, 236, 236, 0.7); 
}
input[placeholder="Required"]{
	text-align: right;
}
select{
	border: none;
}
input[name="user_zip"]{
	width: 40%;
}
/*============================
					Media Queries
==============================*/	
@media(min-width: 320px) and (max-width: 767px){
	header{
		background-color: #306491;
		padding:10px;
	}
	h1{
		font-size: 2em;
	}
	label{
		width: 50%;
		display: block;
		margin-left: 2%;
		margin-top: 4%;
		margin-bottom: 1%;
		font-weight: 200;
		/*border: 1px solid red;*/
	}
	input{
		width: 95%;
		
		
		padding: 16px;
		
		margin-left: 2%;
	}

	select{
		width: 50%;
		margin-left: 2%
	}





}
@media(min-width: 768px){
	header{
		background-color: pink;
	}
	.main-container{
		width: 768px;
		border: 1px solid red;
	}
	h1{
		font-size: 3em;
	}
	label{
		display: inline;
	}

















}